# Assignment 5, Question 6: Data Transformation

**Points: 20**

Transform and engineer features from the clinical trial dataset.

## Setup

## Part 1: Type Conversions (5 points)

1. Convert 'enrollment_date' to datetime using the `transform_types()` utility
2. Convert categorical columns ('site', 'intervention_group', 'sex') to category dtype
3. Ensure all numeric columns are proper numeric types
4. Display the updated dtypes

In [420]:
# TODO: Type conversions
import pandas as pd
#df.head()
# 1. Use transform_types() to convert enrollment_date to datetime
type_map = {'enrollment_date': 'datetime64[ns]'}
#df_typed = transform_types(df, type_map)
transform_types(df,type_map)
transform_types(df,type_map)
#print(df_typed.dtypes)
#df_typed
#manually convert:the above argument is not channging 'object':
#df ['enrollment_date'] =pd.to_datetime(df_typed['enrollment_date'], errors ='coerce')
#print (df.types)

#2:
type_map = {
    'intervention_group': 'category',
    'sex': 'category',
    'site': 'category'
 }
df_typed = transform_types(df, type_map
transform_types(df,type_map)
print(df.dtypes)
df.head()
#3&4.#manually as they were not chnaged into catgroical:
categorical_cols = ['sex', 'site', 'intervention_group']
for col in categorical_cols:
    if col in df_typed.columns:
        df_typed[col] = df_typed[col].astype('category')
    else:
        print(f"Column '{col}' not found")
#df_typed['intervention_group'] = df_typed['intervention_group'].astype('category')
print(df_typed.dtypes)

transformed data as type_map
patient_id             object
age                     int64
sex                    object
bmi                   float64
enrollment_date        object
systolic_bp           float64
diastolic_bp          float64
cholesterol_total     float64
cholesterol_hdl       float64
cholesterol_ldl       float64
glucose_fasting       float64
site                   object
intervention_group     object
follow_up_months        int64
adverse_events          int64
outcome_cvd            object
adherence_pct         float64
dropout                object
dtype: object
patient_id              object
age                      int64
sex                   category
bmi                    float64
enrollment_date         object
systolic_bp            float64
diastolic_bp           float64
cholesterol_total      float64
cholesterol_hdl        float64
cholesterol_ldl        float64
glucose_fasting        float64
site                  category
intervention_group    category
follow_up_months         int64
adverse_events           int64
outcome_cvd             object
adherence_pct          float64
dropout                 object
dtype: object

In [410]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import utilities
from q3_data_utils import load_data, clean_data, transform_types, create_bins, fill_missing

df = load_data('data/clinical_trial_raw.csv')
print(f"Loaded {len(df)} patients")

# Prewritten visualization functions for transformation analysis
def plot_distribution(series, title, figsize=(10, 6)):
    """
    Create a histogram of a numeric series.
    
    Args:
        series: pandas Series with numeric data
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.hist(bins=30)
    plt.title(title)
    plt.xlabel('Value')
    plt.ylabel('Frequency')
    plt.tight_layout()
    plt.show()

def plot_value_counts(series, title, figsize=(10, 6)):
    """
    Create a bar chart of value counts.
    
    Args:
        series: pandas Series with value counts
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.plot(kind='bar')
    plt.title(title)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

data loaded with success: 10000,rows and 18 columns
Loaded 10000 patients

In [411]:
# TODO: Calculate cholesterol ratio
df_typed['cholesterol_ratio'] = df_typed['cholesterol_ldl'] / df_typed['cholesterol_hdl'] 
df_typed ['cholesterol_ratio'].head()

0    0.745455
1    1.844828
2    1.464286
3    1.857143
4    0.961538
Name: cholesterol_ratio, dtype: float64

## Part 2: Feature Engineering (8 points)

Create these new calculated columns:

1. `cholesterol_ratio` = cholesterol_ldl / cholesterol_hdl
2. `bp_category` = categorize systolic BP:
   - 'Normal': < 120
   - 'Elevated': 120-129
   - 'High': >= 130
3. `age_group` using `create_bins()` utility:
   - Bins: [0, 40, 55, 70, 100]
   - Labels: ['<40', '40-54', '55-69', '70+']
4. `bmi_category` using standard BMI categories:
   - Underweight: <18.5
   - Normal: 18.5-24.9
   - Overweight: 25-29.9
   - Obese: >=30

In [412]:
# TODO: Categorize blood pressure
normal_bp = df_typed[df_typed['systolic_bp'] < 120 ] 
print("\nPatient with Normal BP")
print(normal_bp[['systolic_bp']])

elevated_bp = df_typed[(df_typed['systolic_bp']>=120) & (df_typed['systolic_bp'] <=129)]
print("\nPatient with Elevated BP")
print(elevated_bp[['systolic_bp']])

high_bp = df_typed[df_typed['systolic_bp'] >=130 ] 
print("\nPatient with High BP")
print(high_bp[['systolic_bp']])

Patient with Normal BP
      systolic_bp
3           116.0
4            97.0
5           116.0
7           111.0
10          110.0
...           ...
9989        100.0
9991        117.0
9992        111.0
9994        105.0
9997        110.0

[5373 rows x 1 columns]

Patient with Elevated BP
      systolic_bp
0           123.0
2           123.0
9           128.0
12          120.0
17          124.0
...           ...
9985        122.0
9987        123.0
9993        128.0
9995        122.0
9996        124.0

[2328 rows x 1 columns]

Patient with High BP
      systolic_bp
1           139.0
6           133.0
20          131.0
33          143.0
34          143.0
...           ...
9983        133.0
9984        139.0
9988        130.0
9998        139.0
9999        134.0

[1885 rows x 1 columns]

**Note:** The `create_bins()` function has an optional `new_column` parameter. If you don't specify it, the new column will be named `{original_column}_binned`. You can use `new_column='age_group'` to give it a custom name.

In [413]:
# TODO: Create BMI categories
underweight_bmi = df_typed[df_typed['bmi'] < 18.5 ] 
print("\nPatient Underweight")
print(underweight_bmi[['bmi']])


normal_bmi = df_typed[(df_typed['bmi']>=18.5) & (df_typed['bmi'] <=24.9)]
print("\nPatient Normal")
print(normal_bmi[['bmi']])

overweight_bmi = df_typed[(df_typed['bmi']>=25) & (df_typed['bmi'] <=29.9)]
print("\nPatient Overweight")
print(overweight_bmi[['bmi']])

obese_bmi = df_typed[df_typed['bmi'] >=30 ] 
print("\nPatient Obese")
print(obese_bmi[['bmi']])

Patient Underweight
       bmi
2     -1.0
70    18.1
122   18.4
125   17.9
165   -1.0
...    ...
9892  -1.0
9908  16.0
9956  -1.0
9957  -1.0
9958  -1.0

[358 rows x 1 columns]

Patient Normal
       bmi
7     24.7
9     21.1
10    23.5
13    21.1
17    23.2
...    ...
9981  19.3
9992  22.7
9993  20.8
9995  23.2
9997  23.8

[3351 rows x 1 columns]

Patient Overweight
       bmi
0     29.3
3     25.4
5     26.8
6     25.4
8     26.9
...    ...
9991  25.2
9994  26.4
9996  28.9
9998  27.0
9999  29.4

[4295 rows x 1 columns]

Patient Obese
       bmi
14    32.8
15    30.0
22    33.3
33    37.1
34    34.4
...    ...
9982  30.4
9983  30.6
9984  32.3
9987  33.0
9988  30.1

[1558 rows x 1 columns]

In [414]:
# TODO: Create age groups
import pandas as pd
#test
#df = pd.DataFrame({ 
    #'age':[25,40,42,57,73,88]
#})
#manually define
def create_bins(
    df:pd.DataFrame,
    column:str,
    bins:list,
    labels: list,
    new_column:str =None
) -> pd.DataFrame:

    df_copy = df.copy()
    if new_column is None:
        new_column = f"{column}_binned)"
    df_copy[new_column] = pd.cut(df_copy[column], bins= bins, labels= labels)
    print(f"created binned column '{new_column}'")

    return df_copy
        
#print(f"Loaded {len(df)} patients")
bins =[ 0, 40, 55, 70, 100] 
labels= ['<40', '40-54', '55-69', '70+']
df_binned = create_bins(df, column='age', bins=bins, labels=labels, new_column='age_group')
print (create_bins)
print(df_binned[['age', 'age_group']].head())

created binned column 'age_group'
<function create_bins at 0x11d030ea0>
   age age_group
0   80       70+
1   80       70+
2   82       70+
3   95       70+
4   95       70+

## Part 3: String Cleaning (2 points)

If there are any string columns that need cleaning:
1. Convert to lowercase
2. Strip whitespace
3. Replace any placeholder values

## Part 4: One-Hot Encoding (5 points)

Create dummy variables for categorical columns:
1. One-hot encode 'intervention_group' using `pd.get_dummies()`
2. One-hot encode 'site'
3. Drop the original categorical columns
4. Show the new shape and column names

In [415]:
#TODO:String Cleaning
type_map = {
    'enrollment_date': 'datetime',
    'age': 'numeric',
    'site': 'category'
}
df_typed = transform_types(df, type_map)

print(df_typed)
print(df_typed.dtypes)

transformed data as type_map
     patient_id  age         sex   bmi enrollment_date  systolic_bp  \
0        P00001   80           F  29.3      2022-05-01        123.0
1        P00002   80    Female     NaN      2022-01-06        139.0
2        P00003   82      Female  -1.0      2023-11-04        123.0
3        P00004   95      Female  25.4      2022-08-15        116.0
4        P00005   95           M   NaN      2023-04-17         97.0
...         ...  ...         ...   ...             ...          ...
9995     P09996   72        Male  23.2      2022-04-11        122.0
9996     P09997  100      Female  28.9      2023-02-10        124.0
9997     P09998   78           F  23.8      2023-11-05        110.0
9998     P09999   86           F  27.0      2022-08-27        139.0
9999     P10000   67      Female  29.4             NaT        134.0

      diastolic_bp  cholesterol_total  cholesterol_hdl  cholesterol_ldl  \
0             80.0              120.0             55.0             41.0
1             81.0              206.0             58.0            107.0
2             86.0              172.0             56.0             82.0
3             77.0              200.0             56.0            104.0
4             71.0              185.0             78.0             75.0
...            ...                ...              ...              ...
9995          73.0              182.0             54.0             92.0
9996          78.0              157.0             56.0             70.0
9997          63.0              154.0             69.0             71.0
9998          98.0              196.0             38.0            119.0
9999          83.0              197.0             51.0            117.0

      glucose_fasting        site intervention_group  follow_up_months  \
0               118.0      site b            Control                20
1                79.0      Site A            CONTROL                24
2                77.0      SITE C      treatment b                   2
3               115.0      Site D        treatment b                17
4               113.0      site e         Treatmen A                 9
...               ...         ...                ...               ...
9995             97.0      site c        TREATMENT B                21
9996            102.0    Site C              control                11
9997            114.0      Site C        treatment a                 2
9998            126.0      SITE A            CONTROL                16
9999            128.0      Site A        TREATMENT A                22

      adverse_events outcome_cvd  adherence_pct dropout
0                  0          No           24.0      No
1                  0          No           77.0      No
2                  0         Yes           70.0      No
3                  0          No           62.0      No
4                  0         yes            NaN     Yes
...              ...         ...            ...     ...
9995               0          No           20.0      No
9996               0          No           57.0      No
9997               1          No           77.0      No
9998               0          no           63.0      No
9999               0         Yes           48.0      No

[10000 rows x 18 columns]
patient_id                    object
age                            int64
sex                           object
bmi                          float64
enrollment_date       datetime64[ns]
systolic_bp                  float64
diastolic_bp                 float64
cholesterol_total            float64
cholesterol_hdl              float64
cholesterol_ldl              float64
glucose_fasting              float64
site                          object
intervention_group            object
follow_up_months               int64
adverse_events                 int64
outcome_cvd                   object
adherence_pct                float64
dropout                       object
dtype: object

In [385]:
# TODO: One-hot encoding


#step1 and 2 :
dummies_intervention  = pd.get_dummies(df['intervention_group'],prefix='intervention_group',dtype='int64')
dummies_site = pd.get_dummies(df['site'],prefix='site',dtype='int64')
# drop the original columns :
df= df.drop(['intervention_group', 'site'],axis=1)
#df_eoncoded = pd.get_dummies(df,columns =['intervention_group','site'], drop_first=True, dftype='int64')

# add to original data
df_encoded = pd.concat([df, dummies_intervention, dummies_site], axis=1)
print(df_encoded)

#Print the new shape and column names
print("New DataFrame Shape:", df_encoded.shape)
print("New DataFrame Columns:", df_encoded.columns.tolist())

#Print the teasnformed DataFrame:
print("\nTransformed DataFrama with Dummy Variables:")

     patient_id  age         sex   bmi enrollment_date  systolic_bp  \
0        P00001   80           F  29.3      2022-05-01        123.0
1        P00002   80    Female     NaN      2022-01-06        139.0
2        P00003   82      Female  -1.0      2023-11-04        123.0
3        P00004   95      Female  25.4      2022-08-15        116.0
4        P00005   95           M   NaN      2023-04-17         97.0
...         ...  ...         ...   ...             ...          ...
9995     P09996   72        Male  23.2      2022-04-11        122.0
9996     P09997  100      Female  28.9      2023-02-10        124.0
9997     P09998   78           F  23.8      2023-11-05        110.0
9998     P09999   86           F  27.0      2022-08-27        139.0
9999     P10000   67      Female  29.4      25-03-2022        134.0

      diastolic_bp  cholesterol_total  cholesterol_hdl  cholesterol_ldl  ...  \
0             80.0              120.0             55.0             41.0  ...
1             81.0              206.0             58.0            107.0  ...
2             86.0              172.0             56.0             82.0  ...
3             77.0              200.0             56.0            104.0  ...
4             71.0              185.0             78.0             75.0  ...
...            ...                ...              ...              ...  ...
9995          73.0              182.0             54.0             92.0  ...
9996          78.0              157.0             56.0             70.0  ...
9997          63.0              154.0             69.0             71.0  ...
9998          98.0              196.0             38.0            119.0  ...
9999          83.0              197.0             51.0            117.0  ...

      site_Site B  site_Site C  site_Site D site_Site E  site_Site_D  \
0               0            0            0           0            0
1               0            0            0           0            0
2               0            0            0           0            0
3               0            0            1           0            0
4               0            0            0           0            0
...           ...          ...          ...         ...          ...
9995            0            0            0           0            0
9996            0            0            0           0            0
9997            0            1            0           0            0
9998            0            0            0           0            0
9999            0            0            0           0            0

     site_site a  site_site b  site_site c  site_site d  site_site e
0              0            1            0            0            0
1              0            0            0            0            0
2              0            0            0            0            0
3              0            0            0            0            0
4              0            0            0            0            1
...          ...          ...          ...          ...          ...
9995           0            0            1            0            0
9996           0            0            0            0            0
9997           0            0            0            0            0
9998           0            0            0            0            0
9999           0            0            0            0            0

[10000 rows x 76 columns]
New DataFrame Shape: (10000, 76)
New DataFrame Columns: ['patient_id', 'age', 'sex', 'bmi', 'enrollment_date', 'systolic_bp', 'diastolic_bp', 'cholesterol_total', 'cholesterol_hdl', 'cholesterol_ldl', 'glucose_fasting', 'follow_up_months', 'adverse_events', 'outcome_cvd', 'adherence_pct', 'dropout', 'intervention_group_  CONTROL  ', 'intervention_group_  Contrl  ', 'intervention_group_  Control  ', 'intervention_group_  TREATMENT A  ', 'intervention_group_  TREATMENT B  ', 'intervention_group_  Treatmen A  ', 'intervention_group_  Treatment  B  ', 'intervention_group_  Treatment A  ', 'intervention_group_  Treatment B  ', 'intervention_group_  TreatmentA  ', 'intervention_group_  control  ', 'intervention_group_  treatment a  ', 'intervention_group_  treatment b  ', 'intervention_group_CONTROL', 'intervention_group_Contrl', 'intervention_group_Control', 'intervention_group_TREATMENT A', 'intervention_group_TREATMENT B', 'intervention_group_Treatmen A', 'intervention_group_Treatment  B', 'intervention_group_Treatment A', 'intervention_group_Treatment B', 'intervention_group_TreatmentA', 'intervention_group_control', 'intervention_group_treatment a', 'intervention_group_treatment b', 'site_  SITE A  ', 'site_  SITE B  ', 'site_  SITE C  ', 'site_  SITE D  ', 'site_  SITE E  ', 'site_  Site  A  ', 'site_  Site A  ', 'site_  Site B  ', 'site_  Site C  ', 'site_  Site D  ', 'site_  Site E  ', 'site_  Site_D  ', 'site_  site a  ', 'site_  site b  ', 'site_  site c  ', 'site_  site d  ', 'site_  site e  ', 'site_SITE A', 'site_SITE B', 'site_SITE C', 'site_SITE D', 'site_SITE E', 'site_Site  A', 'site_Site A', 'site_Site B', 'site_Site C', 'site_Site D', 'site_Site E', 'site_Site_D', 'site_site a', 'site_site b', 'site_site c', 'site_site d', 'site_site e']

Transformed DataFrama with Dummy Variables:

## Part 5: Save Transformed Data

Save the fully transformed dataset to `output/q6_transformed_data.csv`

In [386]:
# TODO: Save transformed data
df_transformed = transform_types(df, type_map)
df_transformed.to_csv('output/q6_transformed_data.csv', index=False)

transformed data as type_map